In [113]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
from sklearn.preprocessing import MinMaxScaler

## Inspection

In [129]:
# Read files 
tweets = pd.read_csv("./E13.csv/tweets.csv", encoding='utf-8')
users = pd.read_csv("./E13.csv/users.csv", encoding='utf-8')

In [97]:
# If I want to loop some values
files_dict = {
    'tweets': tweets,
    'users': users
}

In [98]:
# Initial look of each one 
for name, df in files_dict.items():
    print(f"Dataframe name: {name}")
    print(df.head(),"\n\n")

Dataframe name: tweets
                       created_at                  id  \
0  Tue Mar 26 14:46:37 +0000 2013  316561836378030080
1  Tue Mar 26 13:00:31 +0000 2013  316535134167912449
2  Tue Mar 26 09:54:28 +0000 2013  316488311562727424
3  Tue Mar 26 00:21:19 +0000 2013  316344076775587841
4  Mon Mar 25 14:46:36 +0000 2013  316199441537327104

                                                text  \
0  The ScreenWeek h15 Daily is out! http://t.co/y...
1  Sw Daily Top News: http://t.co/nFV9JppRPl - to...
2  The Davide Dellacasa Daily is out! http://t.co...
3  Sw Top Story: Planes -- Il Teaser Trailer Uffi...
4  The ScreenWeek h15 Daily is out! http://t.co/y...

                                              source  user_id  truncated  \
0  <a href="http://paper.li" rel="nofollow">Paper...  3610511        NaN
1  <a href="http://tweetedtimes.com" rel="nofollo...  3610511        NaN
2  <a href="http://paper.li" rel="nofollow">Paper...  3610511        NaN
3  <a href="http://tweetedtimes.com" rel="nofollo...  3610511        NaN
4  <a href="http://paper.li" rel="nofollow">Paper...  3610511        NaN

   in_reply_to_status_id  in_reply_to_user_id in_reply_to_screen_name  \
0                      0                    0                     NaN
1                      0                    0                     NaN
2                      0                    0                     NaN
3                      0                    0                     NaN
4                      0                    0                     NaN

   retweeted_status_id  geo place  retweet_count  reply_count  favorite_count  \
0                  NaN  NaN   NaN              0          0.0             0.0
1                  NaN  NaN   NaN              0          0.0             0.0
2                  NaN  NaN   NaN              0          0.0             0.0
3                  NaN  NaN   NaN              1          0.0             0.0
4                  NaN  NaN   NaN              0          0.0             0.0

   num_hashtags  num_urls  num_mentions            timestamp
0             0         1             2  2013-03-26 15:46:37
1             0         1             0  2013-03-26 14:00:31
2             0         1             1  2013-03-26 10:54:28
3             0         2             0  2013-03-26 01:21:19
4             0         1             3  2013-03-25 15:46:36


Dataframe name: users
        id              name screen_name  statuses_count  followers_count  \
0  3610511  Davide Dellacasa      braddd           20370             5470
1  5656162    Simone Economo       eKoeS            3131              506
2  5682702            tacone     tacone_            4024              264
3  6067292          alesaura    alesstar           40586              640
4  6015122            Angelo  PerDiletto            2016               62

   friends_count  favourites_count  listed_count  \
0           2385               145            52
1            381                 9            40
2             87               323            16
3            622              1118            32
4             64                13             0

                       created_at                                url  ...  \
0  Fri Apr 06 10:58:22 +0000 2007           http://braddd.tumblr.com  ...
1  Mon Apr 30 15:08:42 +0000 2007         http://www.lineheight.net/  ...
2  Tue May 01 11:53:40 +0000 2007               http://t.co/LKrl1dZE  ...
3  Tue May 15 16:55:16 +0000 2007     http://alesstar.wordpress.com/  ...
4  Sun May 13 19:52:00 +0000 2007  http://www.flickr.com/per_diletto  ...

  profile_sidebar_fill_color  \
0                     FFF7CC
1                     DDEEF6
2                     000000
3                     95E8EC
4                     F6F6F6

                        profile_background_image_url profile_background_color  \
0  http://a0.twimg.com/profile_background_images/...                   BADFCD
1    http://a0.twimg.com/images/themes/theme1/bg.png                   C0DEED
2  http://a0.twimg.com/profile_background_images/...                   1A1B1F
3    http://a0.twimg.com/images/themes/theme4/bg.gif                   0099B9
4   http://a0.twimg.com/images/themes/theme18/bg.gif                   ACDED6

   profile_link_color  utc_offset  protected verified  \
0              FF0000      3600.0        NaN      NaN
1              0084B4      3600.0        NaN      NaN
2              2FC2EF      3600.0        NaN      NaN
3              0099B9      3600.0        NaN      NaN
4              038543      3600.0        NaN      NaN

                                         description              updated  \
0  Founder of http://www.screenweek.it & http://w...  2015-02-14 10:54:49
1  BSc degree (cum laude) in Computer Engineering...  2015-02-14 10:54:49
2                             Cogito ergo bestemmio.  2015-02-14 10:54:49
3               Se la vita ti d√† sarde, scapocciale!  2015-02-14 10:54:49
4                                     Je me souviens  2015-02-14 10:54:49

  dataset
0     E13
1     E13
2     E13
3     E13
4     E13

[5 rows x 34 columns]

In [99]:
# Shapes
for name, df in files_dict.items():
    print(f"Dataframe name: {name}")
    print(df.shape,"\n\n")

Dataframe name: tweets
(2068037, 19)


Dataframe name: users
(1481, 34)

In [100]:
# Info
for name, df in files_dict.items():
    print(f"Dataframe name: {name}")
    print(df.info(),"\n\n")

Dataframe name: tweets
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2068037 entries, 0 to 2068036
Data columns (total 19 columns):
 #   Column                   Dtype
---  ------                   -----
 0   created_at               object
 1   id                       int64
 2   text                     object
 3   source                   object
 4   user_id                  int64
 5   truncated                float64
 6   in_reply_to_status_id    int64
 7   in_reply_to_user_id      int64
 8   in_reply_to_screen_name  object
 9   retweeted_status_id      float64
 10  geo                      float64
 11  place                    object
 12  retweet_count            int64
 13  reply_count              float64
 14  favorite_count           float64
 15  num_hashtags             int64
 16  num_urls                 int64
 17  num_mentions             int64
 18  timestamp                object
dtypes: float64(5), int64(8), object(6)
memory usage: 299.8+ MB
None


Dataframe name: users

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 34 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  1481 non-null   int64
 1   name                                1481 non-null   object
 2   screen_name                         1481 non-null   object
 3   statuses_count                      1481 non-null   int64
 4   followers_count                     1481 non-null   int64
 5   friends_count                       1481 non-null   int64
 6   favourites_count                    1481 non-null   int64
 7   listed_count                        1481 non-null   int64
 8   created_at                          1481 non-null   object
 9   url                                 463 non-null    object
 10  lang                                1481 non-null   object
 11  time_zone                           1063 non-null   object
 12  location                            989 non-null    object
 13  default_profile                     397 non-null    float64
 14  default_profile_image               4 non-null      float64
 15  geo_enabled                         719 non-null    float64
 16  profile_image_url                   1481 non-null   object
 17  profile_banner_url                  985 non-null    object
 18  profile_use_background_image        1423 non-null   float64
 19  profile_background_image_url_https  1481 non-null   object
 20  profile_text_color                  1481 non-null   object
 21  profile_image_url_https             1481 non-null   object
 22  profile_sidebar_border_color        1481 non-null   object
 23  profile_background_tile             486 non-null    float64
 24  profile_sidebar_fill_color          1481 non-null   object
 25  profile_background_image_url        1481 non-null   object
 26  profile_background_color            1481 non-null   object
 27  profile_link_color                  1481 non-null   object
 28  utc_offset                          1063 non-null   float64
 29  protected                           0 non-null      float64
 30  verified                            0 non-null      float64
 31  description                         1463 non-null   object
 32  updated                             1481 non-null   object
 33  dataset                             1481 non-null   object
dtypes: float64(8), int64(6), object(20)
memory usage: 393.5+ KB
None

In [101]:
# Understand each feature
for column in tweets.columns:
    print(f"COLUMN {column}")
    print(tweets[column].head(), "\n\n")

COLUMN created_at
0    Tue Mar 26 14:46:37 +0000 2013
1    Tue Mar 26 13:00:31 +0000 2013
2    Tue Mar 26 09:54:28 +0000 2013
3    Tue Mar 26 00:21:19 +0000 2013
4    Mon Mar 25 14:46:36 +0000 2013
Name: created_at, dtype: object


COLUMN id
0    316561836378030080
1    316535134167912449
2    316488311562727424
3    316344076775587841
4    316199441537327104
Name: id, dtype: int64


COLUMN text
0    The ScreenWeek h15 Daily is out! http://t.co/y...
1    Sw Daily Top News: http://t.co/nFV9JppRPl - to...
2    The Davide Dellacasa Daily is out! http://t.co...
3    Sw Top Story: Planes -- Il Teaser Trailer Uffi...
4    The ScreenWeek h15 Daily is out! http://t.co/y...
Name: text, dtype: object


COLUMN source
0    <a href="http://paper.li" rel="nofollow">Paper...
1    <a href="http://tweetedtimes.com" rel="nofollo...
2    <a href="http://paper.li" rel="nofollow">Paper...
3    <a href="http://tweetedtimes.com" rel="nofollo...
4    <a href="http://paper.li" rel="nofollow">Paper...
Name: source, dtype: object


COLUMN user_id
0    3610511
1    3610511
2    3610511
3    3610511
4    3610511
Name: user_id, dtype: int64


COLUMN truncated
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: truncated, dtype: float64


COLUMN in_reply_to_status_id
0    0
1    0
2    0
3    0
4    0
Name: in_reply_to_status_id, dtype: int64


COLUMN in_reply_to_user_id
0    0
1    0
2    0
3    0
4    0
Name: in_reply_to_user_id, dtype: int64


COLUMN in_reply_to_screen_name
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: in_reply_to_screen_name, dtype: object


COLUMN retweeted_status_id
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: retweeted_status_id, dtype: float64


COLUMN geo
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: geo, dtype: float64


COLUMN place
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: place, dtype: object


COLUMN retweet_count
0    0
1    0
2    0
3    1
4    0
Name: retweet_count, dtype: int64


COLUMN reply_count
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: reply_count, dtype: float64


COLUMN favorite_count
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: favorite_count, dtype: float64


COLUMN num_hashtags
0    0
1    0
2    0
3    0
4    0
Name: num_hashtags, dtype: int64


COLUMN num_urls
0    1
1    1
2    1
3    2
4    1
Name: num_urls, dtype: int64


COLUMN num_mentions
0    2
1    0
2    1
3    0
4    3
Name: num_mentions, dtype: int64


COLUMN timestamp
0    2013-03-26 15:46:37
1    2013-03-26 14:00:31
2    2013-03-26 10:54:28
3    2013-03-26 01:21:19
4    2013-03-25 15:46:36
Name: timestamp, dtype: object

In [102]:
# Understand each feature
for column in users.columns:
    print(f"COLUMN {column}")
    print(users[column].head(), "\n\n")

COLUMN id
0    3610511
1    5656162
2    5682702
3    6067292
4    6015122
Name: id, dtype: int64


COLUMN name
0    Davide Dellacasa
1      Simone Economo
2              tacone
3            alesaura
4              Angelo
Name: name, dtype: object


COLUMN screen_name
0        braddd
1         eKoeS
2       tacone_
3      alesstar
4    PerDiletto
Name: screen_name, dtype: object


COLUMN statuses_count
0    20370
1     3131
2     4024
3    40586
4     2016
Name: statuses_count, dtype: int64


COLUMN followers_count
0    5470
1     506
2     264
3     640
4      62
Name: followers_count, dtype: int64


COLUMN friends_count
0    2385
1     381
2      87
3     622
4      64
Name: friends_count, dtype: int64


COLUMN favourites_count
0     145
1       9
2     323
3    1118
4      13
Name: favourites_count, dtype: int64


COLUMN listed_count
0    52
1    40
2    16
3    32
4     0
Name: listed_count, dtype: int64


COLUMN created_at
0    Fri Apr 06 10:58:22 +0000 2007
1    Mon Apr 30 15:08:42 +0000 2007
2    Tue May 01 11:53:40 +0000 2007
3    Tue May 15 16:55:16 +0000 2007
4    Sun May 13 19:52:00 +0000 2007
Name: created_at, dtype: object


COLUMN url
0             http://braddd.tumblr.com
1           http://www.lineheight.net/
2                 http://t.co/LKrl1dZE
3       http://alesstar.wordpress.com/
4    http://www.flickr.com/per_diletto
Name: url, dtype: object


COLUMN lang
0    it
1    en
2    en
3    en
4    it
Name: lang, dtype: object


COLUMN time_zone
0    Rome
1    Rome
2    Rome
3    Rome
4    Rome
Name: time_zone, dtype: object


COLUMN location
0                           Roma
1                    Rome, Italy
2                      Internets
3                            NaN
4    iPhone: 44.069630,12.569966
Name: location, dtype: object


COLUMN default_profile
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: default_profile, dtype: float64


COLUMN default_profile_image
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: default_profile_image, dtype: float64


COLUMN geo_enabled
0    NaN
1    NaN
2    NaN
3    1.0
4    1.0
Name: geo_enabled, dtype: float64


COLUMN profile_image_url
0    http://a0.twimg.com/profile_images/1575057050/...
1    http://a0.twimg.com/profile_images/1901298312/...
2    http://a0.twimg.com/profile_images/1640620850/...
3    http://a0.twimg.com/profile_images/2797534662/...
4    http://a0.twimg.com/profile_images/1073412966/...
Name: profile_image_url, dtype: object


COLUMN profile_banner_url
0    https://si0.twimg.com/profile_banners/3610511/...
1                                                  NaN
2    https://si0.twimg.com/profile_banners/5682702/...
3    https://si0.twimg.com/profile_banners/6067292/...
4                                                  NaN
Name: profile_banner_url, dtype: object


COLUMN profile_use_background_image
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: profile_use_background_image, dtype: float64


COLUMN profile_background_image_url_https
0    https://si0.twimg.com/profile_background_image...
1    https://si0.twimg.com/images/themes/theme1/bg.png
2    https://si0.twimg.com/profile_background_image...
3    https://si0.twimg.com/images/themes/theme4/bg.gif
4    https://si0.twimg.com/images/themes/theme18/bg...
Name: profile_background_image_url_https, dtype: object


COLUMN profile_text_color
0    0C3E53
1    333333
2    666666
3    3C3940
4    333333
Name: profile_text_color, dtype: object


COLUMN profile_image_url_https
0    https://si0.twimg.com/profile_images/157505705...
1    https://si0.twimg.com/profile_images/190129831...
2    https://si0.twimg.com/profile_images/164062085...
3    https://si0.twimg.com/profile_images/279753466...
4    https://si0.twimg.com/profile_images/107341296...
Name: profile_image_url_https, dtype: object


COLUMN profile_sidebar_border_color
0    F2E195
1    FFFFFF
2    181A1E
3    FFFFFF
4    EEEEEE
Name: profile_sidebar_border_color, dtype: object


COLUMN profile_background_tile
0    NaN
1    NaN
2    1.0
3    NaN
4    NaN
Name: profile_background_tile, dtype: float64


COLUMN profile_sidebar_fill_color
0    FFF7CC
1    DDEEF6
2    000000
3    95E8EC
4    F6F6F6
Name: profile_sidebar_fill_color, dtype: object


COLUMN profile_background_image_url
0    http://a0.twimg.com/profile_background_images/...
1      http://a0.twimg.com/images/themes/theme1/bg.png
2    http://a0.twimg.com/profile_background_images/...
3      http://a0.twimg.com/images/themes/theme4/bg.gif
4     http://a0.twimg.com/images/themes/theme18/bg.gif
Name: profile_background_image_url, dtype: object


COLUMN profile_background_color
0    BADFCD
1    C0DEED
2    1A1B1F
3    0099B9
4    ACDED6
Name: profile_background_color, dtype: object


COLUMN profile_link_color
0    FF0000
1    0084B4
2    2FC2EF
3    0099B9
4    038543
Name: profile_link_color, dtype: object


COLUMN utc_offset
0    3600.0
1    3600.0
2    3600.0
3    3600.0
4    3600.0
Name: utc_offset, dtype: float64


COLUMN protected
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: protected, dtype: float64


COLUMN verified
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: verified, dtype: float64


COLUMN description
0    Founder of http://www.screenweek.it & http://w...
1    BSc degree (cum laude) in Computer Engineering...
2                               Cogito ergo bestemmio.
3                 Se la vita ti d√† sarde, scapocciale!
4                                       Je me souviens
Name: description, dtype: object


COLUMN updated
0    2015-02-14 10:54:49
1    2015-02-14 10:54:49
2    2015-02-14 10:54:49
3    2015-02-14 10:54:49
4    2015-02-14 10:54:49
Name: updated, dtype: object


COLUMN dataset
0    E13
1    E13
2    E13
3    E13
4    E13
Name: dataset, dtype: object

Features to Keep

In [103]:
Tweets_features = ["user_id", "retweet_count", "reply_count", "favorite_count", "num_hashtags", "num_urls", "num_mentions"]
Users_features = ["id", "statuses_count", "followers_count", "friends_count", "favourites_count", "listed_count", "created_at"]

## Cleaning

In [104]:
# Select datasets and features
tweets = tweets[Tweets_features]
users = users[Users_features]

Convert Data Types

In [105]:
# Convert datetime
users['created_at'] = pd.to_datetime(users['created_at'])

C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\2548618216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['created_at'] = pd.to_datetime(users['created_at'])

Missing Values

In [106]:
# Fill missing values for all numeric columns in tweets DataFrame
for col in tweets.columns:
    if pd.api.types.is_numeric_dtype(tweets[col]):
        tweets[col] = tweets[col].fillna(0)

# Fill missing values for all numeric columns in users DataFrame
for col in users.columns:
    if pd.api.types.is_numeric_dtype(users[col]):
        users[col] = users[col].fillna(0)

C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\1915932557.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets[col] = tweets[col].fillna(0)
C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\1915932557.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users[col] = users[col].fillna(0)

Feature Engeniering in Users

In [107]:
# Create rations across the friend and followers 
users['account_age_years'] = 2015 - users['created_at'].dt.year
users['followers_to_friends_ratio'] = users['followers_count'] / users['friends_count']
users['followers_to_friends_ratio'].replace([np.inf, -np.inf], np.nan, inplace=True)
users['followers_to_friends_ratio'] = users['followers_to_friends_ratio'].fillna(0)  # Handle division by zero

C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\3474127401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['account_age_years'] = 2015 - users['created_at'].dt.year
C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\3474127401.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['followers_to_friends_ratio'] = users['followers_count'] / users['friends_count']
C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\3474127401.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['followers_to_friends_ratio'].replace([np.inf, -np.inf], np.nan, inplace=True)
C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\3474127401.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['followers_to_friends_ratio'] = users['followers_to_friends_ratio'].fillna(0)  # Handle division by zero

Drop Date

In [108]:
# Drop date
users = users.drop(["created_at"], axis=1)

Aggregate Tweet

In [109]:
# Aggregate the number of tweets
tweets["num_tweets"] = 1
tweets = tweets.groupby(['user_id']).sum().reset_index()

C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\2251798934.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets["num_tweets"] = 1

In [111]:
# Create rations on the reply
tweets["retweet_ratio"] = tweets["retweet_count"]/tweets["num_tweets"]
tweets["reply_ration"] = tweets["reply_count"]/tweets["num_tweets"]

Normalize

In [112]:
# Min Max Scaler normalization
scaler = MinMaxScaler()
users.iloc[:,1:] = scaler.fit_transform(users.iloc[:,1:])
tweets.iloc[:,1:] = scaler.fit_transform(tweets.iloc[:,1:])

Merge

In [120]:
# Merge the tweets and user info
merged_df = pd.merge(tweets, users, left_on='user_id', right_on='id', how='inner')

Save Data

In [126]:
# Define the new folder path
new_folder_path = './E13.csv/clean'

# Create the folder if it does not exist
if not os.path.exists(new_folder_path):
    os.makedirs(new_folder_path)

# Save each of the two datasets 
merged_df.to_csv(f'{new_folder_path}/clean_merged.csv', index=False, encoding='utf-8')
users.to_csv(f'{new_folder_path}/clean_users.csv', index=False, encoding='utf-8')

## Loop Across Folders

In [128]:
# Assuming you have a base directory where all your folders (E13.csv, E14.csv, etc.) are located
base_directory = "./"

# List all folders in the base directory
folders = [f for f in os.listdir(base_directory) if os.path.isdir(os.path.join(base_directory, f))]

# Loop through each folder and process datasets
for folder in folders:
    tweets_path = os.path.join(base_directory, folder, "tweets.csv")
    users_path = os.path.join(base_directory, folder, "users.csv")

    # Now you can process these datasets as needed
    print(f"Processing datasets in {folder}...")
    
    # Load the datasets
    tweets = pd.read_csv(tweets_path, encoding='utf-8')
    users = pd.read_csv(users_path, encoding='utf-8')

    # Example processing: Just printing out the number of rows in each file
    print(f"Tweets: {tweets.shape[0]} rows, Users: {users.shape[0]} rows")

    # Reduce the features 
    Tweets_features = ["user_id", "retweet_count", "reply_count", "favorite_count", "num_hashtags", "num_urls", "num_mentions"]
    Users_features = ["id", "statuses_count", "followers_count", "friends_count", "favourites_count", "listed_count", "created_at"]
    tweets = tweets[Tweets_features]
    users = users[Users_features]

    # Convert Data Type
    users['created_at'] = pd.to_datetime(users['created_at'])

    # Missing Values
    # Fill missing values for all numeric columns in tweets DataFrame
    for col in tweets.columns:
        if pd.api.types.is_numeric_dtype(tweets[col]):
            tweets[col] = tweets[col].fillna(0)

    # Fill missing values for all numeric columns in users DataFrame
    for col in users.columns:
        if pd.api.types.is_numeric_dtype(users[col]):
            users[col] = users[col].fillna(0)

    # User Feature Eng
    users['account_age_years'] = 2015 - users['created_at'].dt.year
    users['followers_to_friends_ratio'] = users['followers_count'] / users['friends_count']
    users['followers_to_friends_ratio'].replace([np.inf, -np.inf], np.nan, inplace=True)
    users['followers_to_friends_ratio'] = users['followers_to_friends_ratio'].fillna(0)

    # Drop Date
    users = users.drop(["created_at"], axis=1)

    # Aggregate Tweet
    tweets["num_tweets"] = 1
    tweets = tweets.groupby(['user_id']).sum().reset_index()

    # Feature Eng Tweets
    tweets["retweet_ratio"] = tweets["retweet_count"]/tweets["num_tweets"]
    tweets["reply_ration"] = tweets["reply_count"]/tweets["num_tweets"]

    # Normalize
    scaler = MinMaxScaler()
    users.iloc[:,1:] = scaler.fit_transform(users.iloc[:,1:])
    tweets.iloc[:,1:] = scaler.fit_transform(tweets.iloc[:,1:])

    # Merge
    merged_df = pd.merge(tweets, users, left_on='user_id', right_on='id', how='inner')

    # Drop the 'id' column from the merged DataFrame
    merged_df = merged_df.drop('id', axis=1)

    # Add bot feature
    if folder == 'E13.csv' or folder == 'TFP.csv':
        merged_df["bot"] = 0
        users["bot"] = 0
    else:
        merged_df["bot"] = 1
        users["bot"] = 1

    # Define the new folder path
    new_folder_path = f'./{folder}/clean'

    # Create the folder if it does not exist
    if not os.path.exists(new_folder_path):
        os.makedirs(new_folder_path)

    merged_df.to_csv(f'{new_folder_path}/clean_merged.csv', index=False, encoding='utf-8')
    users.to_csv(f'{new_folder_path}/clean_users.csv', index=False, encoding='utf-8')
    print("******FILES SAVED********\n\n")

Processing datasets in E13.csv...
Tweets: 2068037 rows, Users: 1481 rows
******FILES SAVED********


Processing datasets in FSF.csv...
Tweets: 22910 rows, Users: 1169 rows

C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\3174063508.py:61: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  users.iloc[:,1:] = scaler.fit_transform(users.iloc[:,1:])

******FILES SAVED********


Processing datasets in INT.csv...

C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\3174063508.py:16: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets = pd.read_csv(tweets_path, encoding='utf-8')

Tweets: 58925 rows, Users: 1337 rows

C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\3174063508.py:61: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  users.iloc[:,1:] = scaler.fit_transform(users.iloc[:,1:])

******FILES SAVED********


Processing datasets in TFP.csv...
Tweets: 563693 rows, Users: 469 rows
******FILES SAVED********


Processing datasets in TWT.csv...
Tweets: 114192 rows, Users: 845 rows
******FILES SAVED********

Add Bot

In [115]:
# Identify bot folder
if folder == 'E13.csv' or folder == 'TFP.csv':
    merged_df["bot"] = 0
    users["bot"] = 0
else:
    merged_df["bot"] = 1
    users["bot"] = 1

['E13.csv', 'FSF.csv', 'INT.csv', 'TFP.csv', 'TWT.csv']