In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
from sklearn.preprocessing import MinMaxScaler

## Inspection

In [4]:
# Read files 
tweets = pd.read_csv("../Data/cresci-2017.csv/datasets_full.csv/traditional_spambots_1.csv/traditional_spambots_1.csv/tweets.csv", encoding='utf-8')
users = pd.read_csv("../Data/cresci-2017.csv/datasets_full.csv/traditional_spambots_1.csv/traditional_spambots_1.csv/users.csv", encoding='utf-8')

In [5]:
# If I want to loop some values
files_dict = {
    'tweets': tweets,
    'users': users
}

In [6]:
# Initial look of each one 
for name, df in files_dict.items():
    print(f"Dataframe name: {name}")
    print(df.head(),"\n\n")

Dataframe name: tweets
            id                                               text  \
0  22642586115     CPPRI Recruitment 2010 at http://ping.fm/yp8zH
1  22642583483  National Games Secretariat Recruitment 2010  :...
2  22642524678     CIPET Recruitment Jobs at http://ping.fm/KnFCa
3  22642504361      DIAT Recruitment 2010 at http://ping.fm/huS9m
4  22642475789       BHEL Recruitment 2010 : http://ping.fm/PLWWA

                                              source  user_id  truncated  \
0  <a href="http://www.ping.fm/" rel="nofollow">P...  7248952        NaN
1  <a href="http://www.ping.fm/" rel="nofollow">P...  7248952        NaN
2  <a href="http://www.ping.fm/" rel="nofollow">P...  7248952        NaN
3  <a href="http://www.ping.fm/" rel="nofollow">P...  7248952        NaN
4  <a href="http://www.ping.fm/" rel="nofollow">P...  7248952        NaN

   in_reply_to_status_id  in_reply_to_user_id in_reply_to_screen_name  \
0                      0                    0                     NaN
1                      0                    0                     NaN
2                      0                    0                     NaN
3                      0                    0                     NaN
4                      0                    0                     NaN

   retweeted_status_id  geo  ...  favorited  retweeted  possibly_sensitive  \
0                    0  NaN  ...        NaN        NaN                 NaN
1                    0  NaN  ...        NaN        NaN                 NaN
2                    0  NaN  ...        NaN        NaN                 NaN
3                    0  NaN  ...        NaN        NaN                 NaN
4                    0  NaN  ...        NaN        NaN                 NaN

   num_hashtags  num_urls  num_mentions      created_at            timestamp  \
0             0         1             0  1283282654000L  2010-08-31 21:24:14
1             0         1             0  1283282651000L  2010-08-31 21:24:11
2             0         1             0  1283282592000L  2010-08-31 21:23:12
3             0         1             0  1283282571000L  2010-08-31 21:22:51
4             0         1             0  1283282543000L  2010-08-31 21:22:23

            crawled_at              updated
0  0000-00-00 00:00:00  2014-04-16 23:57:17
1  0000-00-00 00:00:00  2014-04-16 23:57:17
2  0000-00-00 00:00:00  2014-04-16 23:57:17
3  0000-00-00 00:00:00  2014-04-16 23:57:17
4  0000-00-00 00:00:00  2014-04-16 23:57:17

[5 rows x 25 columns]


Dataframe name: users
         id           name      screen_name  statuses_count  followers_count  \
0   7248952   Bhuvan Chand      tarunkjuyal            1259              837
1   7732472  Daniel Wagner     DanielWagner             770             3274
2   9524952    Andrew Lock       Andrewlock            1100            38849
3  10788822   Tim Thompson  yourinsaneworld            6497             5902
4  14596967        fxgenie          fxgenie            3203             2570

   friends_count  favourites_count  listed_count  \
0           1978              3200             9
1           3595                 8            22
2          34504                41          1014
3           5496                 0            82
4           2638                 0             5

                                     url  lang  ...  protected verified  \
0                 http://lifeofearth.org   NaN  ...        NaN      NaN
1  http://www.yourinternetbuddies.com/go   NaN  ...        NaN      NaN
2          http://www.helpmybusiness.com   NaN  ...        NaN      NaN
3       http://investing-information.com   NaN  ...        NaN      NaN
4              http://www.4xgenie.com/wp   NaN  ...        NaN      NaN

   notifications                                        description  \
0            NaN                                     Love Your Life
1            NaN  I am an internet marketing coach and mentor wh...
2            NaN  Marketing Geek & Presenter of 'Help! My Busine...
3            NaN  I am a member of a network of stock investing ...
4            NaN                                       forex trader

   contributors_enabled following      created_at            timestamp  \
0                   NaN       NaN  1183552203000L  2007-07-04 14:30:03
1                   NaN       NaN  1185440851000L  2007-07-26 11:07:31
2                   NaN       NaN  1192725360000L  2007-10-18 18:36:00
3                   NaN       NaN  1196614406000L  2007-12-02 17:53:26
4                   NaN       NaN  1209536534000L  2008-04-30 08:22:14

            crawled_at              updated
0  2010-11-07 11:10:52  2016-03-14 17:05:53
1  2010-11-07 11:10:52  2016-03-14 17:05:54
2  2010-11-07 11:10:52  2016-03-14 17:05:54
3  2010-11-07 11:10:52  2016-03-14 17:05:54
4  2010-11-07 11:10:52  2016-03-14 17:05:54

[5 rows x 40 columns]

In [7]:
# Shapes
for name, df in files_dict.items():
    print(f"Dataframe name: {name}")
    print(df.shape,"\n\n")

Dataframe name: tweets
(145094, 25)


Dataframe name: users
(1000, 40)

In [8]:
# Info
for name, df in files_dict.items():
    print(f"Dataframe name: {name}")
    print(df.info(),"\n\n")

Dataframe name: tweets
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145094 entries, 0 to 145093
Data columns (total 25 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       145094 non-null  int64
 1   text                     145094 non-null  object
 2   source                   145094 non-null  object
 3   user_id                  145094 non-null  int64
 4   truncated                753 non-null     float64
 5   in_reply_to_status_id    145094 non-null  int64
 6   in_reply_to_user_id      145094 non-null  int64
 7   in_reply_to_screen_name  11286 non-null   object
 8   retweeted_status_id      145094 non-null  int64
 9   geo                      0 non-null       float64
 10  place                    0 non-null       float64
 11  contributors             0 non-null       float64
 12  retweet_count            145094 non-null  int64
 13  reply_count              145094 non-null  int64
 14  favorite_count           145094 non-null  int64
 15  favorited                0 non-null       float64
 16  retweeted                0 non-null       float64
 17  possibly_sensitive       0 non-null       float64
 18  num_hashtags             145094 non-null  int64
 19  num_urls                 145094 non-null  int64
 20  num_mentions             145094 non-null  int64
 21  created_at               145094 non-null  object
 22  timestamp                145094 non-null  object
 23  crawled_at               145094 non-null  object
 24  updated                  145094 non-null  object
dtypes: float64(7), int64(11), object(7)
memory usage: 27.7+ MB
None


Dataframe name: users
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  1000 non-null   int64
 1   name                                1000 non-null   object
 2   screen_name                         1000 non-null   object
 3   statuses_count                      1000 non-null   int64
 4   followers_count                     1000 non-null   int64
 5   friends_count                       1000 non-null   int64
 6   favourites_count                    1000 non-null   int64
 7   listed_count                        1000 non-null   int64
 8   url                                 396 non-null    object
 9   lang                                0 non-null      float64
 10  time_zone                           0 non-null      float64
 11  location                            243 non-null    object
 12  default_profile                     0 non-null      float64
 13  default_profile_image               0 non-null      float64
 14  geo_enabled                         19 non-null     float64
 15  profile_image_url                   1000 non-null   object
 16  profile_banner_url                  0 non-null      float64
 17  profile_use_background_image        0 non-null      float64
 18  profile_background_image_url_https  0 non-null      float64
 19  profile_text_color                  0 non-null      float64
 20  profile_image_url_https             0 non-null      float64
 21  profile_sidebar_border_color        0 non-null      float64
 22  profile_background_tile             0 non-null      float64
 23  profile_sidebar_fill_color          0 non-null      float64
 24  profile_background_image_url        1000 non-null   object
 25  profile_background_color            0 non-null      float64
 26  profile_link_color                  0 non-null      float64
 27  utc_offset                          0 non-null      float64
 28  is_translator                       0 non-null      float64
 29  follow_request_sent                 0 non-null      float64
 30  protected                           0 non-null      float64
 31  verified                            0 non-null      float64
 32  notifications                       0 non-null      float64
 33  description                         221 non-null    object
 34  contributors_enabled                0 non-null      float64
 35  following                           0 non-null      float64
 36  created_at                          1000 non-null   object
 37  timestamp                           1000 non-null   object
 38  crawled_at                          1000 non-null   object
 39  updated                             1000 non-null   object
dtypes: float64(23), int64(6), object(11)
memory usage: 312.6+ KB
None

In [9]:
# Understand each feature
for column in tweets.columns:
    print(f"COLUMN {column}")
    print(tweets[column].head(), "\n\n")

COLUMN id
0    22642586115
1    22642583483
2    22642524678
3    22642504361
4    22642475789
Name: id, dtype: int64


COLUMN text
0       CPPRI Recruitment 2010 at http://ping.fm/yp8zH
1    National Games Secretariat Recruitment 2010  :...
2       CIPET Recruitment Jobs at http://ping.fm/KnFCa
3        DIAT Recruitment 2010 at http://ping.fm/huS9m
4         BHEL Recruitment 2010 : http://ping.fm/PLWWA
Name: text, dtype: object


COLUMN source
0    <a href="http://www.ping.fm/" rel="nofollow">P...
1    <a href="http://www.ping.fm/" rel="nofollow">P...
2    <a href="http://www.ping.fm/" rel="nofollow">P...
3    <a href="http://www.ping.fm/" rel="nofollow">P...
4    <a href="http://www.ping.fm/" rel="nofollow">P...
Name: source, dtype: object


COLUMN user_id
0    7248952
1    7248952
2    7248952
3    7248952
4    7248952
Name: user_id, dtype: int64


COLUMN truncated
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: truncated, dtype: float64


COLUMN in_reply_to_status_id
0    0
1    0
2    0
3    0
4    0
Name: in_reply_to_status_id, dtype: int64


COLUMN in_reply_to_user_id
0    0
1    0
2    0
3    0
4    0
Name: in_reply_to_user_id, dtype: int64


COLUMN in_reply_to_screen_name
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: in_reply_to_screen_name, dtype: object


COLUMN retweeted_status_id
0    0
1    0
2    0
3    0
4    0
Name: retweeted_status_id, dtype: int64


COLUMN geo
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: geo, dtype: float64


COLUMN place
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: place, dtype: float64


COLUMN contributors
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: contributors, dtype: float64


COLUMN retweet_count
0    0
1    0
2    0
3    0
4    0
Name: retweet_count, dtype: int64


COLUMN reply_count
0    0
1    0
2    0
3    0
4    0
Name: reply_count, dtype: int64


COLUMN favorite_count
0    0
1    0
2    0
3    0
4    0
Name: favorite_count, dtype: int64


COLUMN favorited
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: favorited, dtype: float64


COLUMN retweeted
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: retweeted, dtype: float64


COLUMN possibly_sensitive
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: possibly_sensitive, dtype: float64


COLUMN num_hashtags
0    0
1    0
2    0
3    0
4    0
Name: num_hashtags, dtype: int64


COLUMN num_urls
0    1
1    1
2    1
3    1
4    1
Name: num_urls, dtype: int64


COLUMN num_mentions
0    0
1    0
2    0
3    0
4    0
Name: num_mentions, dtype: int64


COLUMN created_at
0    1283282654000L
1    1283282651000L
2    1283282592000L
3    1283282571000L
4    1283282543000L
Name: created_at, dtype: object


COLUMN timestamp
0    2010-08-31 21:24:14
1    2010-08-31 21:24:11
2    2010-08-31 21:23:12
3    2010-08-31 21:22:51
4    2010-08-31 21:22:23
Name: timestamp, dtype: object


COLUMN crawled_at
0    0000-00-00 00:00:00
1    0000-00-00 00:00:00
2    0000-00-00 00:00:00
3    0000-00-00 00:00:00
4    0000-00-00 00:00:00
Name: crawled_at, dtype: object


COLUMN updated
0    2014-04-16 23:57:17
1    2014-04-16 23:57:17
2    2014-04-16 23:57:17
3    2014-04-16 23:57:17
4    2014-04-16 23:57:17
Name: updated, dtype: object

In [10]:
# Understand each feature
for column in users.columns:
    print(f"COLUMN {column}")
    print(users[column].head(), "\n\n")

COLUMN id
0     7248952
1     7732472
2     9524952
3    10788822
4    14596967
Name: id, dtype: int64


COLUMN name
0     Bhuvan Chand
1    Daniel Wagner
2      Andrew Lock
3     Tim Thompson
4          fxgenie
Name: name, dtype: object


COLUMN screen_name
0        tarunkjuyal
1       DanielWagner
2         Andrewlock
3    yourinsaneworld
4            fxgenie
Name: screen_name, dtype: object


COLUMN statuses_count
0    1259
1     770
2    1100
3    6497
4    3203
Name: statuses_count, dtype: int64


COLUMN followers_count
0      837
1     3274
2    38849
3     5902
4     2570
Name: followers_count, dtype: int64


COLUMN friends_count
0     1978
1     3595
2    34504
3     5496
4     2638
Name: friends_count, dtype: int64


COLUMN favourites_count
0    3200
1       8
2      41
3       0
4       0
Name: favourites_count, dtype: int64


COLUMN listed_count
0       9
1      22
2    1014
3      82
4       5
Name: listed_count, dtype: int64


COLUMN url
0                   http://lifeofearth.org
1    http://www.yourinternetbuddies.com/go
2            http://www.helpmybusiness.com
3         http://investing-information.com
4                http://www.4xgenie.com/wp
Name: url, dtype: object


COLUMN lang
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: lang, dtype: float64


COLUMN time_zone
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: time_zone, dtype: float64


COLUMN location
0        Berekely
1              UK
2    Planet Earth
3     Houston, TX
4             usa
Name: location, dtype: object


COLUMN default_profile
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: default_profile, dtype: float64


COLUMN default_profile_image
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: default_profile_image, dtype: float64


COLUMN geo_enabled
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: geo_enabled, dtype: float64


COLUMN profile_image_url
0    http://a1.twimg.com/profile_images/53905961/st...
1    http://a3.twimg.com/profile_images/719249843/d...
2    http://a3.twimg.com/profile_images/516987291/b...
3    http://a3.twimg.com/profile_images/200984855/t...
4    http://a2.twimg.com/profile_images/53530606/sh...
Name: profile_image_url, dtype: object


COLUMN profile_banner_url
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: profile_banner_url, dtype: float64


COLUMN profile_use_background_image
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: profile_use_background_image, dtype: float64


COLUMN profile_background_image_url_https
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: profile_background_image_url_https, dtype: float64


COLUMN profile_text_color
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: profile_text_color, dtype: float64


COLUMN profile_image_url_https
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: profile_image_url_https, dtype: float64


COLUMN profile_sidebar_border_color
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: profile_sidebar_border_color, dtype: float64


COLUMN profile_background_tile
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: profile_background_tile, dtype: float64


COLUMN profile_sidebar_fill_color
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: profile_sidebar_fill_color, dtype: float64


COLUMN profile_background_image_url
0    http://s.twimg.com/a/1288374569/images/themes/...
1    http://a3.twimg.com/profile_background_images/...
2    http://s.twimg.com/a/1288305442/images/themes/...
3    http://s.twimg.com/a/1288039940/images/themes/...
4    http://a1.twimg.com/profile_background_images/...
Name: profile_background_image_url, dtype: object


COLUMN profile_background_color
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: profile_background_color, dtype: float64


COLUMN profile_link_color
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: profile_link_color, dtype: float64


COLUMN utc_offset
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: utc_offset, dtype: float64


COLUMN is_translator
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: is_translator, dtype: float64


COLUMN follow_request_sent
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: follow_request_sent, dtype: float64


COLUMN protected
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: protected, dtype: float64


COLUMN verified
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: verified, dtype: float64


COLUMN notifications
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: notifications, dtype: float64


COLUMN description
0                                       Love Your Life
1    I am an internet marketing coach and mentor wh...
2    Marketing Geek & Presenter of 'Help! My Busine...
3    I am a member of a network of stock investing ...
4                                         forex trader
Name: description, dtype: object


COLUMN contributors_enabled
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: contributors_enabled, dtype: float64


COLUMN following
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: following, dtype: float64


COLUMN created_at
0    1183552203000L
1    1185440851000L
2    1192725360000L
3    1196614406000L
4    1209536534000L
Name: created_at, dtype: object


COLUMN timestamp
0    2007-07-04 14:30:03
1    2007-07-26 11:07:31
2    2007-10-18 18:36:00
3    2007-12-02 17:53:26
4    2008-04-30 08:22:14
Name: timestamp, dtype: object


COLUMN crawled_at
0    2010-11-07 11:10:52
1    2010-11-07 11:10:52
2    2010-11-07 11:10:52
3    2010-11-07 11:10:52
4    2010-11-07 11:10:52
Name: crawled_at, dtype: object


COLUMN updated
0    2016-03-14 17:05:53
1    2016-03-14 17:05:54
2    2016-03-14 17:05:54
3    2016-03-14 17:05:54
4    2016-03-14 17:05:54
Name: updated, dtype: object

Features to Keep

In [11]:
# Main features on each dataset to keep 
Tweets_features = ["user_id", "retweet_count", "reply_count", "favorite_count", "num_hashtags", "num_urls", "num_mentions"]
Users_features = ["id", "statuses_count", "followers_count", "friends_count", "favourites_count", "listed_count", "created_at"]

## Cleaning

In [12]:
#tweets = tweets[Tweets_features]
users = users[Users_features]

Convert Data Types

In [14]:
# Feature works different and not date time, I will have to use different name from cresci 2015
users['created_at']

0      1183552203000L
1      1185440851000L
2      1192725360000L
3      1196614406000L
4      1209536534000L
            ...
995    1267038541000L
996    1267067845000L
997    1267077720000L
998    1267078126000L
999    1268008058000L
Name: created_at, Length: 1000, dtype: object

Missing Values

In [106]:
# Fill missing values for all numeric columns in tweets DataFrame
for col in tweets.columns:
    if pd.api.types.is_numeric_dtype(tweets[col]):
        tweets[col] = tweets[col].fillna(0)

# Fill missing values for all numeric columns in users DataFrame
for col in users.columns:
    if pd.api.types.is_numeric_dtype(users[col]):
        users[col] = users[col].fillna(0)

C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\1915932557.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets[col] = tweets[col].fillna(0)
C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\1915932557.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users[col] = users[col].fillna(0)

Feature Engeniering in Users

In [107]:
# Convert the years of usage to a value
users['account_age_years'] = 2017 - users['created_at'].dt.year

# Create ratio for followers and friends
users['followers_to_friends_ratio'] = users['followers_count'] / users['friends_count']
users['followers_to_friends_ratio'].replace([np.inf, -np.inf], np.nan, inplace=True)
users['followers_to_friends_ratio'] = users['followers_to_friends_ratio'].fillna(0)  # Handle division by zero

C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\3474127401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['account_age_years'] = 2015 - users['created_at'].dt.year
C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\3474127401.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['followers_to_friends_ratio'] = users['followers_count'] / users['friends_count']
C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\3474127401.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['followers_to_friends_ratio'].replace([np.inf, -np.inf], np.nan, inplace=True)
C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\3474127401.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users['followers_to_friends_ratio'] = users['followers_to_friends_ratio'].fillna(0)  # Handle division by zero

Aggregate Tweet

In [109]:
# Number of tweets
tweets["num_tweets"] = 1

C:\Users\jmanu\AppData\Local\Temp\ipykernel_37636\2251798934.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets["num_tweets"] = 1

In [110]:
# Find tweets per user 
tweets = tweets.groupby(['user_id']).sum().reset_index()

In [111]:
# Create ratios
tweets["retweet_ratio"] = tweets["retweet_count"]/tweets["num_tweets"]
tweets["reply_ration"] = tweets["reply_count"]/tweets["num_tweets"]

Normalize

In [112]:
# Normalize the data
scaler = MinMaxScaler()
users.iloc[:,1:] = scaler.fit_transform(users.iloc[:,1:])
tweets.iloc[:,1:] = scaler.fit_transform(tweets.iloc[:,1:])

Merge

In [120]:
# Merge features 
merged_df = pd.merge(tweets, users, left_on='user_id', right_on='id', how='inner')

Save Data

In [126]:
# Define the new folder path
new_folder_path = './E13.csv/clean'

# Create the folder if it does not exist
if not os.path.exists(new_folder_path):
    os.makedirs(new_folder_path)

# Save the results
merged_df.to_csv(f'{new_folder_path}/clean_merged.csv', index=False, encoding='utf-8')
users.to_csv(f'{new_folder_path}/clean_users.csv', index=False, encoding='utf-8')

## Loop Across Folders

In [17]:
# folder we will use from cresci 2017
main_folders

['genuine_accounts.csv',
 'social_spambots_1.csv',
 'social_spambots_2.csv',
 'social_spambots_3.csv']

In [ ]:
# Base directory where your main folders (genuine_accounts.csv, etc.) are located
base_directory = "../Data/cresci-2017.csv/datasets_full.csv/"

In [16]:
# Base directory where your main folders (genuine_accounts.csv, etc.) are located
base_directory = "../Data/cresci-2017.csv/datasets_full.csv/"

# List all main folders in the base directory
main_folders = [f for f in os.listdir(base_directory) if os.path.isdir(os.path.join(base_directory, f))]

# Loop through each main folder
for main_folder in main_folders:

    # Construct the path to the nested folder, assuming the repeated structure
    nested_folder_path = os.path.join(base_directory, main_folder, main_folder)
    
    # Construct the full paths to tweets.csv and users.csv within the nested folder
    tweets_path = os.path.join(nested_folder_path, "tweets.csv")
    users_path = os.path.join(nested_folder_path, "users.csv")

    # Now you can process these datasets as needed
    print(f"Processing datasets in {main_folder}...")
    
    # Load the datasets
    tweets = pd.read_csv(tweets_path, encoding='utf-8')
    users = pd.read_csv(users_path, encoding='utf-8')

    # Example processing: Just printing out the number of rows in each file
    print(f"Tweets: {tweets.shape[0]} rows, Users: {users.shape[0]} rows")

    # Reduce the features 
    Tweets_features = ["user_id", "retweet_count", "reply_count", "favorite_count", "num_hashtags", "num_urls", "num_mentions"]
    Users_features = ["id", "statuses_count", "followers_count", "friends_count", "favourites_count", "listed_count", "created_at"]
    tweets = tweets[Tweets_features]
    users = users[Users_features]

    # Convert Data Type
    users['created_at'] = pd.to_datetime(users['created_at'])

    # Missing Values
    # Fill missing values for all numeric columns in tweets DataFrame
    for col in tweets.columns:
        if pd.api.types.is_numeric_dtype(tweets[col]):
            tweets[col] = tweets[col].fillna(0)

    # Fill missing values for all numeric columns in users DataFrame
    for col in users.columns:
        if pd.api.types.is_numeric_dtype(users[col]):
            users[col] = users[col].fillna(0)

    # User Feature Eng
    users['account_age_years'] = 2017 - users['created_at'].dt.year
    users['followers_to_friends_ratio'] = users['followers_count'] / users['friends_count']
    users['followers_to_friends_ratio'].replace([np.inf, -np.inf], np.nan, inplace=True)
    users['followers_to_friends_ratio'] = users['followers_to_friends_ratio'].fillna(0)

    # Drop Date
    users = users.drop(["created_at"], axis=1)

    # Aggregate Tweet
    tweets["num_tweets"] = 1
    tweets = tweets.groupby(['user_id']).sum().reset_index()

    # Feature Eng Tweets
    tweets["retweet_ratio"] = tweets["retweet_count"]/tweets["num_tweets"]
    tweets["reply_ration"] = tweets["reply_count"]/tweets["num_tweets"]

    # Normalize
    scaler = MinMaxScaler()
    users.iloc[:,1:] = scaler.fit_transform(users.iloc[:,1:])
    tweets.iloc[:,1:] = scaler.fit_transform(tweets.iloc[:,1:])

    # Merge
    merged_df = pd.merge(tweets, users, left_on='user_id', right_on='id', how='inner')

    # Add bot feature
    if main_folder == 'genuine_accounts.csv':
        merged_df["bot"] = 0
        users["bot"] = 0
    else:
        merged_df["bot"] = 1
        users["bot"] = 1

    # Define the new folder path
    new_folder_path = f'./{main_folder}/{main_folder}/clean'

    # Create the folder if it does not exist
    if not os.path.exists(new_folder_path):
        os.makedirs(new_folder_path)

    merged_df.to_csv(f'{new_folder_path}/clean_merged.csv', index=False, encoding='utf-8')
    users.to_csv(f'{new_folder_path}/clean_users.csv', index=False, encoding='utf-8')
    print("******FILES SAVED********\n\n")

Processing datasets in genuine_accounts.csv...

C:\Users\jmanu\AppData\Local\Temp\ipykernel_34416\1831354226.py:21: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets = pd.read_csv(tweets_path, encoding='utf-8')

Tweets: 2839362 rows, Users: 3474 rows
******FILES SAVED********


Processing datasets in social_spambots_1.csv...

C:\Users\jmanu\AppData\Local\Temp\ipykernel_34416\1831354226.py:21: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets = pd.read_csv(tweets_path, encoding='utf-8')

Tweets: 1610034 rows, Users: 991 rows

C:\Users\jmanu\AppData\Local\Temp\ipykernel_34416\1831354226.py:67: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  tweets.iloc[:,1:] = scaler.fit_transform(tweets.iloc[:,1:])

******FILES SAVED********


Processing datasets in social_spambots_2.csv...

C:\Users\jmanu\AppData\Local\Temp\ipykernel_34416\1831354226.py:21: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets = pd.read_csv(tweets_path, encoding='utf-8')

Tweets: 428542 rows, Users: 3457 rows

C:\Users\jmanu\AppData\Local\Temp\ipykernel_34416\1831354226.py:67: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  tweets.iloc[:,1:] = scaler.fit_transform(tweets.iloc[:,1:])

******FILES SAVED********


Processing datasets in social_spambots_3.csv...

C:\Users\jmanu\AppData\Local\Temp\ipykernel_34416\1831354226.py:21: DtypeWarning: Columns (7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  tweets = pd.read_csv(tweets_path, encoding='utf-8')

Tweets: 1418557 rows, Users: 464 rows
******FILES SAVED********

C:\Users\jmanu\AppData\Local\Temp\ipykernel_34416\1831354226.py:67: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  tweets.iloc[:,1:] = scaler.fit_transform(tweets.iloc[:,1:])

Add Bot

In [115]:
if folder == 'E13.csv' or folder == 'TFP.csv':
    merged_df["bot"] = 0
    users["bot"] = 0
else:
    merged_df["bot"] = 1
    users["bot"] = 1

['E13.csv', 'FSF.csv', 'INT.csv', 'TFP.csv', 'TWT.csv']